{:paths ["scripts"]
 :tasks {:requires ([tasks :as t])

         collect-benchmark-data
         {:task t/collect-benchmark-data!
          :doc "Collect languages benchmark data"}

         compile-benchmarks
         {:task t/compile-benchmarks!
          :doc "Compile all contributions for all benchmarks"}

         bench-benchmarks
         {:task t/bench-benchmarks!
          :doc "Bench all contributions for all benchmarks"}

         compile-and-bench
         {:task t/compile-and-bench!
          :doc "Compile and bench all contributions for all benchmarks"}

         permalink-tag
         {:task t/permalink-tag!
          :doc "Tag and push the tag"}}}