{:deps {:aliases [:test]}
 :dev-http {9797 {:root "public"
                  :host "0.0.0.0"}}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:app {:init-fn pez.app/init!}}
        :dev {:compiler-options
              {:closure-defines {'goog.DEBUG true}}}}
  :test
  {:target    :browser-test
   :test-dir  "public/test"
   :ns-regexp "-test$"}}}